.mercurio {
  width: 50px;
}

.venus {
  width: 150px;
}

.terra {
  width: 170px;
}

.marte {
  width: 100px;
}

.jupiter {
  width: 250px;
}

.saturno {
  width: 270px;
}

.urano {
  width: 190px;
}

.netuno {
  width: 185px;
}
