#Mercúrio {
  width: 50px;
}

#Vênus {
  width: 150px;
}

#Terra {
  width: 170px;
}

#Marte {
  width: 100px;
}

#Júpiter {
  width: 250px;
}

#Saturno {
  width: 270px;
}

#Urano {
  width: 190px;
}

#Netuno {
  width: 185px;
}