.planetas:nth-child( 1 ) img {
  width: 50px;
}

.planetas:nth-child( 2 ) img {
  width: 150px;
}

.planetas:nth-child( 3 ) img {
  width: 170px;
}

.planetas:nth-child( 4 ) img {
  width: 100px;
}

.planetas:nth-child( 5 ) img {
  width: 250px;
}

.planetas:nth-child( 6 ) img {
  width: 270px;
}

.planetas:nth-child( 7 ) img {
  width: 190px;
}

.planetas:nth-child( 8 ) img {
  width: 185px;
}
